* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: 30px;
    width: 100%;
}
.first div { margin-right: 80px;}
.first div a {
  color: white;
  font-size: 12px;
  font-family: "Lato";
  font-style: italic;
  line-height: 1.667;
  text-transform: uppercase;
}
.first div a:first-of-type { margin-right: 20px; }
.first img {
    width: 49px;
    height: 49px;
    margin-left: 80px;
    cursor: pointer;
}
img.first-pic {
    width: 100%;
}


.second {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 0 80px;
    padding: 20px 0;
}

.second img.logo-2 { cursor: pointer; }
.second div a{
    color: #414f6b;
    font-size: 12px;
    font-family: "Lato";
    color: rgb(65, 79, 107);
    font-style: italic;
    text-transform: uppercase;
}.second div a:first-of-type { margin-right: 20px; }

.bg-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img.second-pic {
    width: 100%;
}

.history {
    position: absolute;
    left: 80px;
    top: 80px;
    width: 85%;
}

.history .large-number {
    font-size: 11.264px;
    font-family: "Oswald";
    color: rgba(65, 79, 107, 0.502);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    -webkit-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    -ms-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    position: absolute;
    left: 80px;
    top: 15px;
    z-index: 86;
}.history .large-number-text {
    font-size: 7.764px;
    font-family: "Oswald";
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    position: absolute;
    left: 170px;
    top: 50px;
    z-index: 85;
}

.history .description {
    color: black;
    font-family: "Myriad Pro";
    line-height: 1.5;
    position: absolute;
    left: 80px;
    top: 90px;
    width: 85%;
}

.bg-wrapper .bg-transparent {
    width: 100%;
    height: 195px;
    position: absolute;
    bottom: 0;
}
.bg-wrapper .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 99;
}

.bg-wrapper .image-wrapper img {
    margin-right: 15px;
    cursor: pointer;
}.bg-wrapper .image-wrapper img:last-of-type {
    margin-right: 0;
}
.thumbnail-1:hover, .thumbnail-2:hover, .thumbnail-3:hover, .thumbnail-4:hover {
    opacity: 0.6;
}

.bg-wrapper .threedots {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.bg-wrapper .threedots span {
    background-color: #7e8899;
    height: 8px;
    width: 8px;
    display: flex;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}.bg-wrapper .threedots span:hover { background-color: white; }
.bg-wrapper .threedots span:first-of-type {
    background-color: white;
}


.third {
    position: relative;
    height: 160px;
}
.large-number-2 {
    font-size: 11.264px;
    font-family: "Oswald";
    color: rgba(65, 79, 107, 0.502);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    -webkit-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    -ms-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
    position: absolute;
    left: 220px;
    top: 60px;
    z-index: 39;
      
}
.large-number-2-text {
    font-size: 11.264px;
    font-family: "Oswald";
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    position: absolute;
    left: 317px;
    top: 85px;
    z-index: 38;      
}

.description-2 {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 420px;
    width: 550px;
    top: 58px;
    font-size: 12px;
}


.fourth {
    background-color: #414f6b;
    display: flex;
    align-items: center;
    padding: 0px 80px;
}
.fourth .text-1 {
  background-color: #b0b4be;
  font-size: 16px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  padding: 7px 12px;
  margin-right: 20px;
}
.fourth .text-2 {
  color: #b0b4be;
  font-size: 16px;
  font-family: "Oswald";
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  padding: 7px 0;
}

.fifth { position: relative; }
.fifth img {
    width: 100%
}

.rectangle {
  position: absolute;
  width: 352px;
  height: 229px;
  background-color: white;
  top: 60px;
  left: 120px;
}
.rectangle .schedule {
    font-family: "Oswald";
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    font-size: 28px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rectangle .tiquet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 43px;
    font-size: 14px;
    font-family: "Lato"
}.rectangle .tiquet.extra {
    margin-top: 20px;
}
  

.footer {
    color: rgb(99, 118, 157);
    background-color: #414f6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    font-size: 12px;
    margin-top: -5px;
}.footer img { cursor: pointer; }

@media screen and (max-width: 992px)  {
    .bg-wrapper .image-wrapper img.thumbnail-4 { display: none; }
    .description-2 { width: 350px; }
}
@media screen and (max-width: 812px)  {
    .bg-wrapper .image-wrapper img.thumbnail-3 { display: none; }
    .large-number-2 { left: 164px }
    .large-number-2-text { left: 260px }
    .description-2 {
        left: 360px;
        width: 300px;
    }
}
@media screen and (max-width: 712px)  {
    .history .large-number { font-size: 9.264px; }
    .history .large-number-text {
        font-size: 6.764px;
        left: 155px;
        top: 43px;
    }
    .history .description { font-size: 13px; }
    .large-number-2 { font-size: 9.264px; }
    .large-number-2-text {
        font-size: 8.264px;
        left: 242px;
        top: 83px;
    }
    .description-2 { left: 312px; }

    .bg-wrapper .bg-transparent {
        height: 140px;
    }
    .bg-wrapper .image-wrapper img:first-of-type {
        height: 100px;
        margin-right: 0;
    }
    .bg-wrapper .image-wrapper img.thumbnail-2 { display: none; }
}

@media screen and (max-width: 660px)  {
    .first img { margin-left: 20px; }
    .first div { margin-right: 20px; }
    .second { margin: 0 20px; }
    .history .large-number { left: 5px; }
    .history .large-number-text { left: 80px }
    .history .description { left: 0px }
    .large-number-2 { left: 85px }
    .large-number-2-text { left: 163px; }
    .description-2 { left: 235px}
    .fourth { padding: 0 20px; }
    .rectangle {
        width: 300px;
        height: 215px;
        top: 30px;
        left: 50px;
    }
    .footer { padding: 20px; }
}

@media screen and (max-width: 576px)  {
    .history .description { font-size: 12px; }
    .bg-wrapper .bg-transparent { height: 110px }
    .bg-wrapper .image-wrapper img:first-of-type { height: 60px; }
    .description-2 {
        left: 225px;
        width: 240px;
    }
}
@media screen and (max-width: 499px)  {
    .history .description { font-size: 11px; }
    .bg-wrapper .bg-transparent { height: 85px }
    .bg-wrapper .image-wrapper { bottom: 25px; }
    .bg-wrapper .image-wrapper img:first-of-type { height: 50px; }
}